body {
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 60px;
}

h2 > span {
  background-color: black;
  color: rgb(49, 255, 186);
  padding: 10px;
  border-radius: 10px;
}

.rating__text {
  margin-top: 30px;
}

.rating__text > span {
  /* background-color: black; */
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}