body {
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 60px;
}

h2 > span , h4 > span {
  background-color: black;
  color: rgb(49, 255, 186);
  padding: 10px;
  border-radius: 10px;
}

.rating__text {
  margin-top: 30px;
}

.rating__text > span {
  /* background-color: black; */
  color: black;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(49, 255, 186);
  border-radius: 15px;
  border: 1px solid black;
}

li {
  list-style-type: none;
  margin-left: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: black;
  color:rgb(49, 255, 186);
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

a > img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

input[type=checkbox], input[type=text], input[type=color] {
  transform : scale(1.5);
  margin-right: 10px;
  margin-bottom: 20px;
}